1.What are data structures, and why are they important?

Data structures are ways to organize and store data efficiently for easy access and modification. They are important because they optimize performance, memory usage, and operations in software applications

2.Explain the difference between mutable and immutable data types with examples.

Mutable data types can be modified after creation (e.g., lists, dictionaries, sets). Immutable data types cannot be changed after creation (e.g., tuples, strings, integers)

In [1]:
# Example
lst = [1, 2, 3]  # Mutable
lst[0] = 10  # Allowed

tup = (1, 2, 3)  # Immutable
tup[0] = 10  # Error

TypeError: 'tuple' object does not support item assignment

3.What are the main differences between lists and tuples in Python?

Lists are mutable, while tuples are immutable.
Lists have a dynamic size, whereas tuples have a fixed size.
Tuples are slightly faster than lists due to immutability.

4.Describe how dictionaries store data.
Dictionaries store data as key-value pairs using a hash table. Each key is hashed to determine its position in memory, allowing for fast retrieval.

5.Why might you use a set instead of a list in Python?
Sets store unique elements and provide faster membership tests (in operation). They are useful when handling non-duplicate data.

6.What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters, while a list is mutable and can store various data types.

7.How do tuples ensure data integrity in Python?
Tuples are immutable, meaning their values cannot be altered after creation. This prevents accidental modifications.

8.What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that stores key-value pairs with a hash function. Python’s dictionaries are implemented using hash tables for efficient lookups.

9.Can lists contain different data types in Python?
Yes, lists can store elements of different types, such as integers, strings, and even other lists.

10.Explain why strings are immutable in Python.
Strings are immutable to enhance performance and security, as well as to allow safe sharing across multiple references.

11.What advantages do dictionaries offer over lists for certain tasks?
Dictionaries provide fast lookups using keys, while lists require a linear search for non-index-based lookups.

12.Describe a scenario where using a tuple would be preferable over a list.
When you need fixed, unchangeable data, such as database records or coordinates (latitude, longitude).

13.How do sets handle duplicate values in Python?
Sets automatically remove duplicate values, ensuring all elements are unique.

14.How does the “in” keyword work differently for lists and dictionaries?
For lists, it checks if a value exists in the sequence (O(n) time complexity).
For dictionaries, it checks for the existence of a key (O(1) time complexity).

15.Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable, meaning their elements cannot be changed, reassigned, or removed.

In [3]:
#16.What is a nested dictionary, and give an example of its use case?
#Ans:dictionary wthin dictionary it is used when multiple values to be stores for same key
student = {
    "name": "Alice",
    "grades": {"math": 90, "science": 85}
}

In [9]:
student.get("grades")

{'math': 90, 'science': 85}

17.Describe the time complexity of accessing elements in a dictionary.
Accessing an element in a dictionary has an average time complexity of O(1) due to hash table indexing.

18.In what situations are lists preferred over dictionaries?
When order is important or when storing a sequence of values without key-value mapping.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Older Python versions (before 3.7) did not guarantee order, but Python 3.7+ maintains insertion order. However, retrieval is still based on key hashing.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
Lists use index-based retrieval, while dictionaries use key-based retrieval, making lookups in dictionaries much faster for large datasets.

In [17]:
#Practical Questions
#1. Write a code to create a string with your name and print it
Name= str(input("Name"))
print(Name)

Name Shravan

Shravan

In [20]:
#2.Write a code to find the length of the string "Hello World"
string="hello world"
len(string)

11

In [21]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string="python programming"
string[:3]

'pyt'

In [27]:
#4. Write a code to convert the string "hello" to uppercase
s="hello"
s.upper()

'HELLO'

In [32]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
s1="I like apple"
s1.replace("apple","orange")

'I like orange'

In [36]:
#6.Write a code to create a list with numbers 1 to 5 and print it
a = [i for i in range(1, 6)]
print(a)

[1, 2, 3, 4, 5]

In [37]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
z=[1, 2, 3, 4]
z.append(int(10))

In [38]:
z

[1, 2, 3, 4, 10]

In [39]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
X=[1, 2, 3, 4,5]
X.remove(int(3))

In [40]:
X

[1, 2, 4, 5]

In [41]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
k=['a', 'b', 'c', 'd']
k[1]

'b'

In [42]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
H=[10, 20, 30, 40, 50]
H[::-1]

[50, 40, 30, 20, 10]

In [43]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
P=(100,200,300)
print(P)

(100, 200, 300)

In [44]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
T=('red', 'green', 'blue', 'yellow')
T[1::]

('green', 'blue', 'yellow')

In [45]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
T1=(10, 20, 5, 15)
min(T1)

5

In [48]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
T2=('dog', 'cat', 'rabbit')
T2.index('cat')

1

In [51]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("Mango","Bananna","Kiwi")
'kiwi' in fruits

False

In [1]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [5]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1={1,2,3,4,5}
s1.clear()

In [11]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s2={1,2,3,4}
s2.remove(4)
s2

{1, 2, 3}

In [14]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s3={1, 2, 3} 
s4={3, 4, 5}
s3 | s4

{1, 2, 3, 4, 5}

In [16]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s5={1, 2, 3} 
s6={2, 3, 4}
s5 & s6

{2, 3}

In [17]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={'name':'shravan','age':29,'city':'Bengaluru'}
print(d)

{'name': 'shravan', 'age': 29, 'city': 'Bengaluru'}

In [18]:
type(d)

dict

In [19]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1= {'name': 'John', 'age': 25}
d1['country']='USA'
d1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [20]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d2={'name': 'Alice', 'age': 30}
d2['name']

'Alice'

In [25]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d3={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d3['age']
d3

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d4={'name': 'Alice', 'city': 'Paris'}
'name' in d4

True

In [27]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l1=[1,2,3,4]
t1=(1,2,3,4)
d5={'a':1,'b':2,'c':3}
print(l1,t1,d5)

[1, 2, 3, 4] (1, 2, 3, 4) {'a': 1, 'b': 2, 'c': 3}

In [29]:
"""27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)"""
l2=[10,30,40,25,80,78,100]
l2.sort()
print(l2)

[10, 25, 30, 40, 78, 80, 100]

In [30]:
#28. Write a code to create a list with strings and print the element at the third index.
l3=['a','b','c','d','e','f']
print(l3[2])

c

In [34]:
#29. Write a code to combine two dictionaries into one and print the result.
d5={'a':1,'b':2,'c':3}
d4={'name': 'Alice', 'city': 'Paris'}
d5 | d4

{'a': 1, 'b': 2, 'c': 3, 'name': 'Alice', 'city': 'Paris'}

In [36]:
#30. Write a code to convert a list of strings into a set.
l3=['a','b','c','d','e','f']
set(l3)

{'a', 'b', 'c', 'd', 'e', 'f'}